.envrc
.DS_Store

# Editors
**/.vs
**/.vscode/*
**/.idea
**/.editorconfig

# Terraform assets
*terraform.*.tfstate*
.gen
.terraform
**/.terraform
**/.terraform.lock.hcl
**/provider.tf
**/testing/*

**/*.sh
